<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job">
  <description>Deploy semi-automatizado para homolog e prod</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>AMBIENTE</name>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>homolog</string>
              <string>prod</string>
            </a>
          </choices>
          <description>Ambiente a ser atualizado</description>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps">
    <script>pipeline {
    agent any
    parameters {
        choice(name: 'AMBIENTE', choices: ['homolog', 'prod'], description: 'Ambiente a ser atualizado')
    }
    stages {
        stage('Deploy') {
            steps {
                dir('/home/univates/aurum-fintech') {
                    sh "chmod +x deploy-${params.AMBIENTE}.sh"
                    sh "./deploy-${params.AMBIENTE}.sh"
                }
            }
        }
    }
    post {
        success { echo "Deploy em ${params.AMBIENTE} concluido com sucesso." }
        failure  { echo "Deploy em ${params.AMBIENTE} falhou." }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>
