<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1571.1580.v18e46842c125">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2291.v2934911987b_6"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2291.v2934911987b_6">
      <jobProperties/>
      <triggers/>
      <parameters>
        <string>AMBIENTE</string>
      </parameters>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description>Deploy semi-automatizado para homolog e prod</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.ChoiceParameterDefinition>
          <name>AMBIENTE</name>
          <description>Ambiente a ser atualizado</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>homolog</string>
              <string>prod</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@4331.v9d06ed4658ff">
    <script>pipeline {
    agent any
    parameters {
        choice(name: &apos;AMBIENTE&apos;, choices: [&apos;homolog&apos;, &apos;prod&apos;], description: &apos;Ambiente a ser atualizado&apos;)
    }
    stages {
        stage(&apos;Atualizar código&apos;) {
            steps {
                dir(&apos;/home/univates/aurum-fintech&apos;) {
                    sh &apos;git config --global --add safe.directory /home/univates/aurum-fintech &amp;&amp; git pull&apos;
                }
            }
        }
        stage(&apos;Deploy&apos;) {
            steps {
                dir(&apos;/home/univates/aurum-fintech&apos;) {
                    sh &quot;chmod +x deploy-${params.AMBIENTE}.sh&quot;
                    sh &quot;./deploy-${params.AMBIENTE}.sh&quot;
                }
            }
        }
    }
    post {
        success { echo &quot;Deploy em ${params.AMBIENTE} concluido com sucesso.&quot; }
        failure  { echo &quot;Deploy em ${params.AMBIENTE} falhou.&quot; }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>